body {
   background-color: rgb(173, 163, 151);
   background-image: url(to-do-list.jpg);
   background-repeat: none;
   background-size: cover;
   min-height: 100vh;
   background-position: center;
}
  

.container, .header {
   display: flex;
   justify-content: center;
}

h1 {
   text-align: center;
   font-size: 50px;
   background: #22C1C3;
   background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 80%);
   
}

.crossed {
   background: #febd44;
   color:black; 
   font-weight: bold;
   text-decoration: line-through;
   transition: all 1s ease;
}

.inputPress {
   padding: 16px;
   border: 2px solid black;
   width: 90vh;
}

ul, li {
   list-style-type: none;
   padding: 10px;
   margin: 0;
   font-family: "Montserrat", sans-serif;
}

.btn {
   padding: 15px;
   background: #c7ab0f ;
   border: none;
   margin: 10px;
   width: 35%;
   color: #070807;
   font-size: 20px;
   font-weight: bold;
   margin-left: 50px;
}

.todoAdded {
   background: #1b8586;
   font-size: 20px;
   list-style-type: none;
   height: 30px;
   width: 100%;
   text-align: center;
   color: #fff;
   border-bottom: 1px solid #A59D84;
   margin: 10px;
}

@media all and (max-width: 800px) {
   h1 {
      font-size: 40px;
   }
}

@media all and (max-width: 500px) {
   h1 {
      font-size: 30px;
   }
}


